 <main>
     <!-- https://materializecss.com/cards.html -->
     <div class="container">
       <h1>Doctor View: List of Appointments:</h1>

        <table>
          <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Length (mins)</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            {{#each appointments}}
            <tr>
              <td>{{first_name}}</td></a>
              <td>{{last_name}}</td></a>
              <td>{{phone_number}}</td>
              <td>{{email_address}}</td>
              <td>{{appointment_date}}</td>
              <td>{{appointment_time}}</td>
              <td>{{length}}</td>
              <td>{{category}}</td>
              <td>{{description}}</td>
              <td>{{status}}</td>
              <td><a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="/modify/{{appointment_id}}"><i
                class="material-icons">edit</i></a>
              <td><a class="btn-floating waves-effect waves-light red"
                href="/doctor/{{appointment_id}}/delete"><i class="material-icons">delete</i></a>
            </tr>
            {{/each}}
            
          </tbody>
        </table>
        <a href="/list" class="waves-effect waves-light btn">Click to add an appointment</a>
        <a href="/patientform" class="waves-effect waves-light btn">Click to create a patient</a>
       
         </div>
       </div>
     </div>
   </main>