<main> 
    <form id="create_update_patient" method="post" action="/patientform">
      <!-- action and method depend on C vs U-->
      <input type="hidden" name="patient_id" id="patient_id" value="0">
      <!-- server sets event_id value-->

      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1>Create Patient</h1>
            </span>


            <div class="row">
              <div class="input-field col s12">
                <textarea id="first_name" name="first_name" class="materialize-textarea" data-length="250"></textarea>
                <label for="first_name">First Name</label>
              </div>
            </div>

              <div class="input-field col s12">
                <textarea id="last_name" name="last_name" class="materialize-textarea" data-length="250"></textarea>
                <label for="last_name">Last Name</label>
              </div>
            

              <div class="input-field col s12">
                <textarea id="email_address" name="email_address" class="materialize-textarea" data-length="250"></textarea>
                <label for="email_addres">Email</label>
              </div>
           


       
              <div class="input-field col s12">
                <textarea id="phone_number" name="phone_number" rs
                class="materialize-textarea" data-length="250"></textarea>
                <label for="phone_number">Phone Number</label>
              </div>
            

            <div class="button_wrapper">
              <button class="waves-effect waves-light btn" type="submit">Create</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </main>
  <script>
    {{#with patient_data}}
        document.addEventListener('DOMContentLoaded', function() {

          {{!-- Use triple mustaches to NOT escape characters --}}

          document.getElementById("patient_id").value = "{{{patient_id}}}"
          document.getElementById("first_name").value = "{{{first_name}}}";
          document.getElementById("last_name").value = "{{{last_name}}}";
          document.getElementById("email_address").value = "{{{email_address}}}";
          document.getElementById("phone_number").value = "{{{phone_number}}}"
          
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, {});
      });

    {{/with}}
  </script>